---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class = "post-content">
	  <table>
	  	{% for scheduleitem in site.schedule %}
		    <tr>
		        <td>
		            <p align="center">
		                {{ scheduleitem.time }}
		            </p>
		        </td>
		        <td>
		            <div class="col-xs-12">
		                <p align="center">
		                	{% if scheduleitem.img %}
		                    	<img class="people-pic" src="{{ scheduleitem.img | prepend: '/assets/img/speakers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">
		                    {% else %}
		                    	<img class="people-pic" src="{{ 'avatar.jpg' | prepend: '/assets/img/speakers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">
		                    {% endif %}
		                </p>
		            </div>
		        </td>
		        <td align="center">
		        	<div class="col-xs-12">
			        	<b>{{ scheduleitem.title }}</b>
		        	</div>
		        </td>
		        <td>
		            <div class="people-name text-center">
		            	<!-- scheduleitem name (link to webpage if provided) -->
		            	{% if scheduleitem.webpage %}
		            		<a href="{{ scheduleitem.webpage }}" target="_blank">{{ scheduleitem.speaker }}</a>
		            	{% else %}
		            		{{ scheduleitem.speaker }}
		            	{% endif %}
		                <br>
		                <!-- scheduleitem affiliation (if provided) -->
		                {% if scheduleitem.affil_link %}
		                	<a href="{{ scheduleitem.affil_link }}" target="_blank">{{ scheduleitem.affil }}</a>
		                {% else %}
		                	{{ scheduleitem.affil }}
		                {% endif %}
		                <!-- Additional scheduleitem affiliation (if provided) -->
		                {% if scheduleitem.affil2_link %}
		                	<br>
		                	<a href="{{ scheduleitem.affil2_link }}" target="_blank">{{ scheduleitem.affil2 }}</a>
		                {% elsif scheduleitem.affil2 %}
		                	<br>
		                	{{ scheduleitem.affil2 }}
		                {% endif %}
		            </div>
		        </td>
		    </tr>
	    {% endfor %}
	  </table>
  </div>

</article>
