---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class = "post-content">
	  <table style="border-collapse: collapse; border: none;">
	  	{% for speaker in site.speakers %}
		    <tr style="border: none;">
		        <td style="border: none;">
		            <div class="col-xs-6">
		                <p align="center">
		                	{% if speaker.img %}
		                    	<img class="people-pic" src="{{ speaker.img | prepend: '/assets/img/speakers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">
		                    {% else %}
		                    	<img class="people-pic" src="{{ 'avatar.jpg' | prepend: '/assets/img/speakers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">
		                    {% endif %}
		                </p>
		            </div>
		        </td>
		        <td style="border: none;">
		            <div class="people-name text-center">
		            	<!-- Speaker name (link to webpage if provided) -->
		            	{% if speaker.webpage %}
		            		<b><a href="{{ speaker.webpage }}" target="_blank">{{ speaker.name }}</a></b>
		            	{% else %}
		            		<b>{{ speaker.name }}</b>
		            	{% endif %}
		                <br>
		                <!-- Speaker affiliation (if provided) -->
		                {% if speaker.affil_link %}
		                	<a href="{{ speaker.affil_link }}" target="_blank">{{ speaker.affil }}</a>
		                {% else %}
		                	{{ speaker.affil }}
		                {% endif %}
		                <!-- Additional speaker affiliation (if provided) -->
		                {% if speaker.affil2_link %}
		                	<br>
		                	<a href="{{ speaker.affil2_link }}" target="_blank">{{ speaker.affil2 }}</a>
		                {% elsif speaker.affil2 %}
		                	<br>
		                	{{ speaker.affil2 }}
		                {% endif %}
		            </div>
		        </td>
		        <td style="border: none;">
		        	<div class="people-name text-center">
		        		{{ speaker.content }}
		        	</div>
		        </td>
		    </tr>
	    {% endfor %}
	  </table>
  </div>

</article>
